::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgb(97, 97, 97);
}
::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(158, 158, 158);
}
